show.html.erb

<%= @seance.title %>

<h3><%= link_to "Editer l'annonces", edit_seance_path(@seance)%>
<%= link_to "Supprimer l'annonce", seance_path(@seance),  method: :delete,
      data: { confirm: "Are you sure?" }  %>
</h3>
