<%
meta title: "Sportsco. 1er réseau social du sport en France"
%>

<div class="jumbo flex-container">
		<div class="background-title flex-item text-center">
			<h1>1er réseau social du sport en France</h1>
			<h2>Recherche des partenaires ou propose ton sport.</h2>
		</div>
		<div class="search">
			
		</div>
	</div>
</div>
