<%
meta title: "Sportsco. 1er réseau social du sport en France"
%>
<% content_for :navbar do %>
  <%= render 'navbarone' %>
<% end %>

<div class="jumbo flex-container">
		<div class="background-title flex-item text-center">
			<h1>1er réseau social du sport en France</h1>
			<h2>Recherche des partenaires ou propose ton sport.</h2>
		</div>
		<div class="search">
			ICI CEST LA SEARCH GROS
		</div>
	</div>
</div>

<div class="sports">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint numquam ipsam ipsum adipisci nesciunt nemo, aperiam laborum natus, neque, explicabo magnam consequuntur quisquam odit sunt nobis tenetur eum voluptatibus, possimus!
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint numquam ipsam ipsum adipisci nesciunt nemo, aperiam laborum natus, neque, explicabo magnam consequuntur quisquam odit sunt nobis tenetur eum voluptatibus, possimus!
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint numquam ipsam ipsum adipisci nesciunt nemo, aperiam laborum natus, neque, explicabo magnam consequuntur quisquam odit sunt nobis tenetur eum voluptatibus, possimus!
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint numquam ipsam ipsum adipisci nesciunt nemo, aperiam laborum natus, neque, explicabo magnam consequuntur quisquam odit sunt nobis tenetur eum voluptatibus, possimus!
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint numquam ipsam ipsum adipisci nesciunt nemo, aperiam laborum natus, neque, explicabo magnam consequuntur quisquam odit sunt nobis tenetur eum voluptatibus, possimus!
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint numquam ipsam ipsum adipisci nesciunt nemo, aperiam laborum natus, neque, explicabo magnam consequuntur quisquam odit sunt nobis tenetur eum voluptatibus, possimus!S
</div>
