.btn-blue {
	background-color:#3E75C6;
	color: white;
}

.btn-border {
	border:1px solid #3E75C6;
	color:#3E75C6;
	padding:7px 20px;
	border-radius:3px;
	&:hover {
		background-color:#3E75C6;
		color:white;
	}
}


