// Place all the styles related to the Seances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.seance-card {
	background-color:white;
	max-width:980px;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	margin-bottom: 20px;
	margin-top:10px;

	&-title {
		font-size:25px;
	}

	&-description {
		font-size: 18px;
		color: #95989A;
		font-weight: 100;
	}

}

/* Seance new */

.seance-form {
  &-container {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
  }
  h3 {
  	font-size: 32px;
    color: #484848;
    font-weight: bold;
  }
  p {
		padding-bottom:40px;
  }
  .form-group {
	margin-bottom: 40px;
  }
  label {
	font-weight: normal;
  color: #484848;
  font-size: 22px;
	}
	.input-group {
	width:100%;
  }
  .fa-calendar {
  	position: absolute;
    top: 45px;
    right: 20px;
    z-index: 3;
  }
  .fa-map-marker {
  	position: absolute;
    top: 45px;
    right: 20px;
    z-index: 3;
  }

  .step6 {
  	position:relative;
  }
}

abbr[title="required"] {
  display: none;
}

/* Seance show */

.seance-description {
	background-color: #F5F5F5;
	font-family: Roboto;
	&-container {
		max-width: 1045px;
		margin: 0 auto;
		padding: 20px;
	}
	&-title {
		color: #484848;
		h3 {
		  font-weight:bold;
	  }
	}
	h4 {
	  color: #757575;
	  font-size: 15px;
	  margin-top:0px;
	}
}


.about-author {
	background-color: white;
	padding:20px;
	border: 1px solid #DCE0E0;
	color: #484848;
	&-title {
		h3 {
		  font-weight:bold;
		}
	}

}





